# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# SAM / AWS
.aws-sam/
.sam-cache/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars

# Docker
*.log
.dockerignore

# Node
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.dist/

# Maven / Java build artifacts
target/
*.class
*.jar
*.tfstate
*.tfstate.backup